body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;

}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("img/8a9909d7-5e9c-41c7-926e-05ea361a7467.png");
  min-height: 100%;
}

/**********/
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(82, 81, 81);
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.349);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #de48b5 0%, #0097ff 100%);
}

/********/
.YH-bar .YH-button {
  padding: 16px;
}

/*****************************/
html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block
}

summary {
  display: list-item
}

audio,
canvas,
progress,
video {
  display: inline-block
}

progress {
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a {
  background-color: transparent
}

a:active,
a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bolder
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

figure {
  margin: 1em 40px
}

img {
  border-style: none
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0
}

optgroup {
  font-weight: bold
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

/* End extract */
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

html {
  overflow-x: hidden
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

.YH-serif {
  font-family: serif
}

.YH-sans-serif {
  font-family: sans-serif
}

.YH-cursive {
  font-family: cursive
}

.YH-monospace {
  font-family: monospace
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.YH-wide {
  letter-spacing: 4px
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

.YH-image {
  max-width: 100%;
  height: auto
}
.YH-image-plns {
  max-width: 50%;
  height: auto
}

img {
  vertical-align: middle
}

a {
  color: inherit
}

.YH-table,
.YH-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table
}

.YH-table-all {
  border: 1px solid #ccc
}

.YH-bordered tr,
.YH-table-all tr {
  border-bottom: 1px solid #ddd
}

.YH-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1
}

.YH-table-all tr:nth-child(odd) {
  background-color: #fff
}

.YH-table-all tr:nth-child(even) {
  background-color: #f1f1f1
}

.YH-hoverable tbody tr:hover,
.YH-ul.YH-hoverable li:hover {
  background-color: #ccc
}

.YH-centered tr th,
.YH-centered tr td {
  text-align: center
}

.YH-table td,
.YH-table th,
.YH-table-all td,
.YH-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top
}

.YH-table th:first-child,
.YH-table td:first-child,
.YH-table-all th:first-child,
.YH-table-all td:first-child {
  padding-left: 16px
}

.YH-btn,
.YH-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.YH-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.YH-btn,
.YH-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.YH-disabled,
.YH-btn:disabled,
.YH-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.YH-disabled *,
:disabled * {
  pointer-events: none
}

.YH-btn.YH-disabled:hover,
.YH-btn:disabled:hover {
  box-shadow: none
}

.YH-badge,
.YH-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
}

.YH-badge {
  border-radius: 50%
}

.YH-ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.YH-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd
}

.YH-ul li:last-child {
  border-bottom: none
}

.YH-tooltip,
.YH-display-container {
  position: relative
}

.YH-tooltip .YH-text {
  display: none
}

.YH-tooltip:hover .YH-text {
  display: inline-block
}

.YH-ripple:active {
  opacity: 0.5
}

.YH-ripple {
  transition: opacity 0s
}

.YH-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.YH-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc
}

.YH-dropdown-click,
.YH-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.YH-dropdown-hover:hover .YH-dropdown-content {
  display: block
}

.YH-dropdown-hover:first-child,
.YH-dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.YH-dropdown-hover:hover>.YH-button:first-child,
.YH-dropdown-click:hover>.YH-button:first-child {
  background-color: #ccc;
  color: #000
}

.YH-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1
}

.YH-check,
.YH-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px
}

.YH-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto
}

.YH-bar-block .YH-dropdown-hover,
.YH-bar-block .YH-dropdown-click {
  width: 100%
}

.YH-bar-block .YH-dropdown-hover .YH-dropdown-content,
.YH-bar-block .YH-dropdown-click .YH-dropdown-content {
  min-width: 100%
}

.YH-bar-block .YH-dropdown-hover .YH-button,
.YH-bar-block .YH-dropdown-click .YH-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px
}

.YH-main,
#main {
  transition: margin-left .4s
}

.YH-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.YH-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px
}

.YH-bar {
  width: 100%;
  overflow: hidden
}

.YH-center .YH-bar {
  display: inline-block;
  width: auto
}

.YH-bar .YH-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0
}

.YH-bar .YH-dropdown-hover,
.YH-bar .YH-dropdown-click {
  position: static;
  float: left
}

.YH-bar .YH-button {
  white-space: normal
}

.YH-bar-block .YH-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0
}

.YH-bar-block.YH-center .YH-bar-item {
  text-align: center
}

.YH-block {
  display: block;
  width: 100%
}

.YH-responsive {
  display: block;
  overflow-x: auto
}

.YH-container:after,
.YH-container:before,
.YH-panel:after,
.YH-panel:before,
.YH-row:after,
.YH-row:before,
.YH-row-padding:after,
.YH-row-padding:before,
.YH-cell-row:before,
.YH-cell-row:after,
.YH-clear:after,
.YH-clear:before,
.YH-bar:before,
.YH-bar:after {
  content: "";
  display: table;
  clear: both
}

.YH-col,
.YH-half,
.YH-third,
.YH-twothird,
.YH-threequarter,
.YH-quarter {
  float: left;
  width: 100%
}

.YH-col.s1 {
  width: 8.33333%
}

.YH-col.s2 {
  width: 16.66666%
}

.YH-col.s3 {
  width: 24.99999%
}

.YH-col.s4 {
  width: 33.33333%
}

.YH-col.s5 {
  width: 41.66666%
}

.YH-col.s6 {
  width: 49.99999%
}

.YH-col.s7 {
  width: 58.33333%
}

.YH-col.s8 {
  width: 66.66666%
}

.YH-col.s9 {
  width: 74.99999%
}

.YH-col.s10 {
  width: 83.33333%
}

.YH-col.s11 {
  width: 91.66666%
}

.YH-col.s12 {
  width: 99.99999%
}

@media (min-width:601px) {
  .YH-col.m1 {
    width: 8.33333%
  }

  .YH-col.m2 {
    width: 16.66666%
  }

  .YH-col.m3,
  .YH-quarter {
    width: 24.99999%
  }

  .YH-col.m4,
  .YH-third {
    width: 33.33333%
  }

  .YH-col.m5 {
    width: 41.66666%
  }

  .YH-col.m6,
  .YH-half {
    width: 49.99999%
  }

  .YH-col.m7 {
    width: 58.33333%
  }

  .YH-col.m8,
  .YH-twothird {
    width: 66.66666%
  }

  .YH-col.m9,
  .YH-threequarter {
    width: 74.99999%
  }

  .YH-col.m10 {
    width: 83.33333%
  }

  .YH-col.m11 {
    width: 91.66666%
  }

  .YH-col.m12 {
    width: 99.99999%
  }
}

@media (min-width:993px) {
  .YH-col.l1 {
    width: 8.33333%
  }

  .YH-col.l2 {
    width: 16.66666%
  }

  .YH-col.l3 {
    width: 24.99999%
  }

  .YH-col.l4 {
    width: 33.33333%
  }

  .YH-col.l5 {
    width: 41.66666%
  }

  .YH-col.l6 {
    width: 49.99999%
  }

  .YH-col.l7 {
    width: 58.33333%
  }

  .YH-col.l8 {
    width: 66.66666%
  }

  .YH-col.l9 {
    width: 74.99999%
  }

  .YH-col.l10 {
    width: 83.33333%
  }

  .YH-col.l11 {
    width: 91.66666%
  }

  .YH-col.l12 {
    width: 99.99999%
  }
}

.YH-rest {
  overflow: hidden
}

.YH-stretch {
  margin-left: -16px;
  margin-right: -16px
}

.YH-content,
.YH-auto {
  margin-left: auto;
  margin-right: auto
}

.YH-content {
  max-width: 980px
}

.YH-auto {
  max-width: 1140px
}

.YH-cell-row {
  display: table;
  width: 100%
}

.YH-cell {
  display: table-cell
}

.YH-cell-top {
  vertical-align: top
}

.YH-cell-middle {
  vertical-align: middle
}

.YH-cell-bottom {
  vertical-align: bottom
}

.YH-hide {
  display: none !important
}

.YH-show-block,
.YH-show {
  display: block !important
}

.YH-show-inline-block {
  display: inline-block !important
}

@media (max-width:1205px) {
  .YH-auto {
    max-width: 95%
  }
}

@media (max-width:600px) {
  .YH-modal-content {
    margin: 0 10px;
    width: auto !important
  }

  .YH-modal {
    padding-top: 30px
  }

  .YH-dropdown-hover.YH-mobile .YH-dropdown-content,
  .YH-dropdown-click.YH-mobile .YH-dropdown-content {
    position: relative
  }

  .YH-hide-small {
    display: none !important
  }

  .YH-mobile {
    display: block;
    width: 100% !important
  }

  .YH-bar-item.YH-mobile,
  .YH-dropdown-hover.YH-mobile,
  .YH-dropdown-click.YH-mobile {
    text-align: center
  }

  .YH-dropdown-hover.YH-mobile,
  .YH-dropdown-hover.YH-mobile .YH-btn,
  .YH-dropdown-hover.YH-mobile .YH-button,
  .YH-dropdown-click.YH-mobile,
  .YH-dropdown-click.YH-mobile .YH-btn,
  .YH-dropdown-click.YH-mobile .YH-button {
    width: 100%
  }
}

@media (max-width:768px) {
  .YH-modal-content {
    width: 500px
  }

  .YH-modal {
    padding-top: 50px
  }
}

@media (min-width:993px) {
  .YH-modal-content {
    width: 900px
  }

  .YH-hide-large {
    display: none !important
  }

  .YH-sidebar.YH-collapse {
    display: block !important
  }
}

@media (max-width:992px) and (min-width:601px) {
  .YH-hide-medium {
    display: none !important
  }
}

@media (max-width:992px) {
  .YH-sidebar.YH-collapse {
    display: none
  }

  .YH-main {
    margin-left: 0 !important;
    margin-right: 0 !important
  }

  .YH-auto {
    max-width: 100%
  }
}

.YH-top,
.YH-bottom {
  position: fixed;
  width: 100%;
  z-index: 1
}

.YH-top {
  top: 0
}

.YH-bottom {
  bottom: 0
}

.YH-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2
}

.YH-display-topleft {
  position: absolute;
  left: 0;
  top: 0
}

.YH-display-topright {
  position: absolute;
  right: 0;
  top: 0
}

.YH-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0
}

.YH-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0
}

.YH-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.YH-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}

.YH-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.YH-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.YH-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.YH-display-container:hover .YH-display-hover {
  display: block
}

.YH-display-container:hover span.YH-display-hover {
  display: inline-block
}

.YH-display-hover {
  display: none
}

.YH-display-position {
  position: absolute
}

.YH-circle {
  border-radius: 50%
}

.YH-round-small {
  border-radius: 2px
}

.YH-round,
.YH-round-medium {
  border-radius: 4px
}

.YH-round-large {
  border-radius: 8px
}

.YH-round-xlarge {
  border-radius: 16px
}

.YH-round-xxlarge {
  border-radius: 32px
}

.YH-row-padding,
.YH-row-padding>.YH-half,
.YH-row-padding>.YH-third,
.YH-row-padding>.YH-twothird,
.YH-row-padding>.YH-threequarter,
.YH-row-padding>.YH-quarter,
.YH-row-padding>.YH-col {
  padding: 0 8px
}

.YH-container,
.YH-panel {
  padding: 0.01em 16px
}

.YH-panel {
  margin-top: 16px;
  margin-bottom: 16px
}

.YH-code,
.YH-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px
}

.YH-code {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word
}

.YH-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%
}

.YH-card,
.YH-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.YH-card-4,
.YH-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.YH-spin {
  animation: YH-spin 2s infinite linear
}

@keyframes YH-spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}

.YH-animate-fading {
  animation: fading 10s infinite
}

@keyframes fading {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.YH-animate-opacity {
  animation: opac 0.8s
}

@keyframes opac {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.YH-animate-top {
  position: relative;
  animation: animatetop 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.YH-animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.YH-animate-right {
  position: relative;
  animation: animateright 0.4s
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

.YH-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

.YH-animate-zoom {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.YH-animate-input {
  transition: width 0.4s ease-in-out
}

.YH-animate-input:focus {
  width: 100% !important
}

.YH-opacity,
.YH-hover-opacity:hover {
  opacity: 0.60
}

.YH-opacity-off,
.YH-hover-opacity-off:hover {
  opacity: 1
}

.YH-opacity-max {
  opacity: 0.25
}

.YH-opacity-min {
  opacity: 0.75
}

.YH-greyscale-max,
.YH-grayscale-max,
.YH-hover-greyscale:hover,
.YH-hover-grayscale:hover {
  filter: grayscale(100%)
}

.YH-greyscale,
.YH-grayscale {
  filter: grayscale(75%)
}

.YH-greyscale-min,
.YH-grayscale-min {
  filter: grayscale(50%)
}

.YH-sepia {
  filter: sepia(75%)
}

.YH-sepia-max,
.YH-hover-sepia:hover {
  filter: sepia(100%)
}

.YH-sepia-min {
  filter: sepia(50%)
}

.YH-tiny {
  font-size: 10px !important
}

.YH-small {
  font-size: 12px !important
}

.YH-medium {
  font-size: 15px !important
}

.YH-large {
  font-size: 18px !important
}

.YH-xlarge {
  font-size: 24px !important
}

.YH-xxlarge {
  font-size: 36px !important
}

.YH-xxxlarge {
  font-size: 48px !important
}

.YH-jumbo {
  font-size: 64px !important
}

.YH-left-align {
  text-align: left !important
}

.YH-right-align {
  text-align: right !important
}

.YH-justify {
  text-align: justify !important
}

.YH-center {
  text-align: center !important
}

.YH-border-0 {
  border: 0 !important
}

.YH-border {
  border: 1px solid #ccc !important
}

.YH-border-top {
  border-top: 1px solid #ccc !important
}

.YH-border-bottom {
  border-bottom: 1px solid #ccc !important
}

.YH-border-left {
  border-left: 1px solid #ccc !important
}

.YH-border-right {
  border-right: 1px solid #ccc !important
}

.YH-topbar {
  border-top: 6px solid #ccc !important
}

.YH-bottombar {
  border-bottom: 6px solid #ccc !important
}

.YH-leftbar {
  border-left: 6px solid #ccc !important
}

.YH-rightbar {
  border-right: 6px solid #ccc !important
}

.YH-section,
.YH-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important
}

.YH-margin {
  margin: 16px !important
}

.YH-margin-top {
  margin-top: 16px !important
}

.YH-margin-bottom {
  margin-bottom: 16px !important
}

.YH-margin-left {
  margin-left: 16px !important
}

.YH-margin-right {
  margin-right: 16px !important
}

.YH-padding-small {
  padding: 4px 8px !important
}

.YH-padding {
  padding: 8px 16px !important
}

.YH-padding-large {
  padding: 12px 24px !important
}

.YH-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important
}

.YH-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important
}

.YH-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important
}

.YH-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important
}

.YH-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important
}

.YH-padding-top-64 {
  padding-top: 64px !important
}

.YH-padding-top-48 {
  padding-top: 48px !important
}

.YH-padding-top-32 {
  padding-top: 32px !important
}

.YH-padding-top-24 {
  padding-top: 24px !important
}

.YH-left {
  float: left !important
}

.YH-right {
  float: right !important
}

.YH-button:hover {
  color: #000 !important;
  background-color: #ccc !important
}

.YH-transparent,
.YH-hover-none:hover {
  background-color: transparent !important
}

.YH-hover-none:hover {
  box-shadow: none !important
}

/* Colors */
<<<<<<< HEAD
.YH-amber,
.YH-hover-amber:hover {
  color: #000 !important;
  background-color: #ffc107 !important
}

.YH-aqua,
.YH-hover-aqua:hover {
  color: #000 !important;
  background-color: #00ffff !important
}

.YH-blue,
.YH-hover-blue:hover {
  color: #fff !important;
  background-color: #2196F3 !important
}

.YH-light-blue,
.YH-hover-light-blue:hover {
  color: #000 !important;
  background-color: #87CEEB !important
}

.YH-brown,
.YH-hover-brown:hover {
  color: #fff !important;
  background-color: #795548 !important
}

.YH-cyan,
.YH-hover-cyan:hover {
  color: #000 !important;
  background-color: #00bcd4 !important
}

.YH-blue-grey,
.YH-hover-blue-grey:hover,
.YH-blue-gray,
.YH-hover-blue-gray:hover {
  color: #fff !important;
  background-color: #607d8b !important
}

.YH-green,
.YH-hover-green:hover {
  color: #fff !important;
  background-color: #4CAF50 !important
}

.YH-light-green,
.YH-hover-light-green:hover {
  color: #000 !important;
  background-color: #8bc34a !important
}

.YH-indigo,
.YH-hover-indigo:hover {
  color: #fff !important;
  background-color: #3f51b5 !important
}

.YH-khaki,
.YH-hover-khaki:hover {
  color: #000 !important;
  background-color: #f0e68c !important
}

.YH-lime,
.YH-hover-lime:hover {
  color: #000 !important;
  background-color: #cddc39 !important
}

.YH-orange,
.YH-hover-orange:hover {
  color: #000 !important;
  background-color: #ff9800 !important
}

.YH-deep-orange,
.YH-hover-deep-orange:hover {
  color: #fff !important;
  background-color: #ff5722 !important
}

.YH-pink,
.YH-hover-pink:hover {
  color: #fff !important;
  background-color: #e91e63 !important
}

.YH-purple,
.YH-hover-purple:hover {
  color: #fff !important;
  background-color: #9c27b0 !important
}

.YH-deep-purple,
.YH-hover-deep-purple:hover {
  color: #fff !important;
  background-color: #673ab7 !important
}

.YH-red,
.YH-hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important
}

.YH-sand,
.YH-hover-sand:hover {
  color: #000 !important;
  background-color: #fdf5e6 !important
}

.YH-teal,
.YH-hover-teal:hover {
  color: #fff !important;
  background-color: #009688 !important
}

.YH-yellow,
.YH-hover-yellow:hover {
  color: #000 !important;
  background-color: #ffeb3b !important
}

.YH-white,
.YH-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important
}

.YH-black,
.YH-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important
}

.YH-grey,
.YH-hover-grey:hover,
.YH-gray,
.YH-hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important
}

.YH-light-grey,
.YH-hover-light-grey:hover,
.YH-light-gray,
.YH-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important
}

.YH-dark-grey,
.YH-hover-dark-grey:hover,
.YH-dark-gray,
.YH-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important
}

.YH-pale-red,
.YH-hover-pale-red:hover {
  color: #000 !important;
  background-color: #ffdddd !important
}

.YH-pale-green,
.YH-hover-pale-green:hover {
  color: #000 !important;
  background-color: #ddffdd !important
}

.YH-pale-yellow,
.YH-hover-pale-yellow:hover {
  color: #000 !important;
  background-color: #ffffcc !important
}

.YH-pale-blue,
.YH-hover-pale-blue:hover {
  color: #000 !important;
  background-color: #ddffff !important
}

.YH-text-amber,
.YH-hover-text-amber:hover {
  color: #ffc107 !important
}

.YH-text-aqua,
.YH-hover-text-aqua:hover {
  color: #00ffff !important
}

.YH-text-blue,
.YH-hover-text-blue:hover {
  color: #2196F3 !important
}

.YH-text-light-blue,
.YH-hover-text-light-blue:hover {
  color: #87CEEB !important
}

.YH-text-brown,
.YH-hover-text-brown:hover {
  color: #795548 !important
}

.YH-text-cyan,
.YH-hover-text-cyan:hover {
  color: #00bcd4 !important
}

.YH-text-blue-grey,
.YH-hover-text-blue-grey:hover,
.YH-text-blue-gray,
.YH-hover-text-blue-gray:hover {
  color: #607d8b !important
}

.YH-text-green,
.YH-hover-text-green:hover {
  color: #4CAF50 !important
}

.YH-text-light-green,
.YH-hover-text-light-green:hover {
  color: #8bc34a !important
}

.YH-text-indigo,
.YH-hover-text-indigo:hover {
  color: #3f51b5 !important
}

.YH-text-khaki,
.YH-hover-text-khaki:hover {
  color: #b4aa50 !important
}

.YH-text-lime,
.YH-hover-text-lime:hover {
  color: #cddc39 !important
}

.YH-text-orange,
.YH-hover-text-orange:hover {
  color: #ff9800 !important
}

.YH-text-deep-orange,
.YH-hover-text-deep-orange:hover {
  color: #ff5722 !important
}

.YH-text-pink,
.YH-hover-text-pink:hover {
  color: #e91e63 !important
}

.YH-text-purple,
.YH-hover-text-purple:hover {
  color: #9c27b0 !important
}

.YH-text-deep-purple,
.YH-hover-text-deep-purple:hover {
  color: #673ab7 !important
}

.YH-text-red,
.YH-hover-text-red:hover {
  color: #f44336 !important
}

.YH-text-sand,
.YH-hover-text-sand:hover {
  color: #fdf5e6 !important
}

.YH-text-teal,
.YH-hover-text-teal:hover {
  color: #009688 !important
}

.YH-text-yellow,
.YH-hover-text-yellow:hover {
  color: #d2be0e !important
}

.YH-text-white,
.YH-hover-text-white:hover {
  color: #fff !important
}

.YH-text-black,
.YH-hover-text-black:hover {
  color: #000 !important
}

.YH-text-grey,
.YH-hover-text-grey:hover,
.YH-text-gray,
.YH-hover-text-gray:hover {
  color: #757575 !important
}

.YH-text-light-grey,
.YH-hover-text-light-grey:hover,
.YH-text-light-gray,
.YH-hover-text-light-gray:hover {
  color: #f1f1f1 !important
}

.YH-text-dark-grey,
.YH-hover-text-dark-grey:hover,
.YH-text-dark-gray,
.YH-hover-text-dark-gray:hover {
  color: #3a3a3a !important
}

.YH-border-amber,
.YH-hover-border-amber:hover {
  border-color: #ffc107 !important
}

.YH-border-aqua,
.YH-hover-border-aqua:hover {
  border-color: #00ffff !important
}

.YH-border-blue,
.YH-hover-border-blue:hover {
  border-color: #2196F3 !important
}

.YH-border-light-blue,
.YH-hover-border-light-blue:hover {
  border-color: #87CEEB !important
}

.YH-border-brown,
.YH-hover-border-brown:hover {
  border-color: #795548 !important
}

.YH-border-cyan,
.YH-hover-border-cyan:hover {
  border-color: #00bcd4 !important
}

.YH-border-blue-grey,
.YH-hover-border-blue-grey:hover,
.YH-border-blue-gray,
.YH-hover-border-blue-gray:hover {
  border-color: #607d8b !important
}

.YH-border-green,
.YH-hover-border-green:hover {
  border-color: #4CAF50 !important
}

.YH-border-light-green,
.YH-hover-border-light-green:hover {
  border-color: #8bc34a !important
}

.YH-border-indigo,
.YH-hover-border-indigo:hover {
  border-color: #3f51b5 !important
}

.YH-border-khaki,
.YH-hover-border-khaki:hover {
  border-color: #f0e68c !important
}

.YH-border-lime,
.YH-hover-border-lime:hover {
  border-color: #cddc39 !important
}

.YH-border-orange,
.YH-hover-border-orange:hover {
  border-color: #ff9800 !important
}

.YH-border-deep-orange,
.YH-hover-border-deep-orange:hover {
  border-color: #ff5722 !important
}

.YH-border-pink,
.YH-hover-border-pink:hover {
  border-color: #e91e63 !important
}

.YH-border-purple,
.YH-hover-border-purple:hover {
  border-color: #9c27b0 !important
}

.YH-border-deep-purple,
.YH-hover-border-deep-purple:hover {
  border-color: #673ab7 !important
}

.YH-border-red,
.YH-hover-border-red:hover {
  border-color: #f44336 !important
}

.YH-border-sand,
.YH-hover-border-sand:hover {
  border-color: #fdf5e6 !important
}

.YH-border-teal,
.YH-hover-border-teal:hover {
  border-color: #009688 !important
}

.YH-border-yellow,
.YH-hover-border-yellow:hover {
  border-color: #ffeb3b !important
}

.YH-border-white,
.YH-hover-border-white:hover {
  border-color: #fff !important
}

.YH-border-black,
.YH-hover-border-black:hover {
  border-color: #000 !important
}

.YH-border-grey,
.YH-hover-border-grey:hover,
.YH-border-gray,
.YH-hover-border-gray:hover {
  border-color: #9e9e9e !important
}

.YH-border-light-grey,
.YH-hover-border-light-grey:hover,
.YH-border-light-gray,
.YH-hover-border-light-gray:hover {
  border-color: #f1f1f1 !important
}

.YH-border-dark-grey,
.YH-hover-border-dark-grey:hover,
.YH-border-dark-gray,
.YH-hover-border-dark-gray:hover {
  border-color: #616161 !important
}

.YH-border-pale-red,
.YH-hover-border-pale-red:hover {
  border-color: #ffe7e7 !important
}

.YH-border-pale-green,
.YH-hover-border-pale-green:hover {
  border-color: #e7ffe7 !important
}
=======
.YH-amber,.YH-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.YH-aqua,.YH-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.YH-blue,.YH-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.YH-light-blue,.YH-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.YH-brown,.YH-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.YH-cyan,.YH-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.YH-blue-grey,.YH-hover-blue-grey:hover,.YH-blue-gray,.YH-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.YH-green,.YH-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.YH-light-green,.YH-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.YH-indigo,.YH-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.YH-khaki,.YH-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.YH-lime,.YH-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.YH-orange,.YH-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.YH-deep-orange,.YH-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.YH-pink,.YH-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.YH-purple,.YH-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.YH-deep-purple,.YH-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.YH-red,.YH-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.YH-sand,.YH-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.YH-teal,.YH-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.YH-yellow,.YH-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.YH-white,.YH-hover-white:hover{color:#fff!important;background-color:#380341!important}
.YH-black,.YH-hover-black:hover{color:#fff!important;background-color:#000!important}
.YH-grey,.YH-hover-grey:hover,.YH-gray,.YH-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.YH-light-grey,.YH-hover-light-grey:hover,.YH-light-gray,.YH-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.YH-dark-grey,.YH-hover-dark-grey:hover,.YH-dark-gray,.YH-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.YH-pale-red,.YH-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.YH-pale-green,.YH-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.YH-pale-yellow,.YH-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.YH-pale-blue,.YH-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.YH-text-amber,.YH-hover-text-amber:hover{color:#ffc107!important}
.YH-text-aqua,.YH-hover-text-aqua:hover{color:#00ffff!important}
.YH-text-blue,.YH-hover-text-blue:hover{color:#2196F3!important}
.YH-text-light-blue,.YH-hover-text-light-blue:hover{color:#87CEEB!important}
.YH-text-brown,.YH-hover-text-brown:hover{color:#795548!important}
.YH-text-cyan,.YH-hover-text-cyan:hover{color:#00bcd4!important}
.YH-text-blue-grey,.YH-hover-text-blue-grey:hover,.YH-text-blue-gray,.YH-hover-text-blue-gray:hover{color:#607d8b!important}
.YH-text-green,.YH-hover-text-green:hover{color:#4CAF50!important}
.YH-text-light-green,.YH-hover-text-light-green:hover{color:#8bc34a!important}
.YH-text-indigo,.YH-hover-text-indigo:hover{color:#3f51b5!important}
.YH-text-khaki,.YH-hover-text-khaki:hover{color:#b4aa50!important}
.YH-text-lime,.YH-hover-text-lime:hover{color:#cddc39!important}
.YH-text-orange,.YH-hover-text-orange:hover{color:#ff9800!important}
.YH-text-deep-orange,.YH-hover-text-deep-orange:hover{color:#ff5722!important}
.YH-text-pink,.YH-hover-text-pink:hover{color:#e91e63!important}
.YH-text-purple,.YH-hover-text-purple:hover{color:#9c27b0!important}
.YH-text-deep-purple,.YH-hover-text-deep-purple:hover{color:#673ab7!important}
.YH-text-red,.YH-hover-text-red:hover{color:#f44336!important}
.YH-text-sand,.YH-hover-text-sand:hover{color:#fdf5e6!important}
.YH-text-teal,.YH-hover-text-teal:hover{color:#009688!important}
.YH-text-yellow,.YH-hover-text-yellow:hover{color:#d2be0e!important}
.YH-text-white,.YH-hover-text-white:hover{color:#fff!important}
.YH-text-black,.YH-hover-text-black:hover{color:#000!important}
.YH-text-grey,.YH-hover-text-grey:hover,.YH-text-gray,.YH-hover-text-gray:hover{color:#757575!important}
.YH-text-light-grey,.YH-hover-text-light-grey:hover,.YH-text-light-gray,.YH-hover-text-light-gray:hover{color:#f1f1f1!important}
.YH-text-dark-grey,.YH-hover-text-dark-grey:hover,.YH-text-dark-gray,.YH-hover-text-dark-gray:hover{color:#3a3a3a!important}
.YH-border-amber,.YH-hover-border-amber:hover{border-color:#ffc107!important}
.YH-border-aqua,.YH-hover-border-aqua:hover{border-color:#00ffff!important}
.YH-border-blue,.YH-hover-border-blue:hover{border-color:#2196F3!important}
.YH-border-light-blue,.YH-hover-border-light-blue:hover{border-color:#87CEEB!important}
.YH-border-brown,.YH-hover-border-brown:hover{border-color:#795548!important}
.YH-border-cyan,.YH-hover-border-cyan:hover{border-color:#00bcd4!important}
.YH-border-blue-grey,.YH-hover-border-blue-grey:hover,.YH-border-blue-gray,.YH-hover-border-blue-gray:hover{border-color:#607d8b!important}
.YH-border-green,.YH-hover-border-green:hover{border-color:#4CAF50!important}
.YH-border-light-green,.YH-hover-border-light-green:hover{border-color:#8bc34a!important}
.YH-border-indigo,.YH-hover-border-indigo:hover{border-color:#3f51b5!important}
.YH-border-khaki,.YH-hover-border-khaki:hover{border-color:#f0e68c!important}
.YH-border-lime,.YH-hover-border-lime:hover{border-color:#cddc39!important}
.YH-border-orange,.YH-hover-border-orange:hover{border-color:#ff9800!important}
.YH-border-deep-orange,.YH-hover-border-deep-orange:hover{border-color:#ff5722!important}
.YH-border-pink,.YH-hover-border-pink:hover{border-color:#e91e63!important}
.YH-border-purple,.YH-hover-border-purple:hover{border-color:#9c27b0!important}
.YH-border-deep-purple,.YH-hover-border-deep-purple:hover{border-color:#673ab7!important}
.YH-border-red,.YH-hover-border-red:hover{border-color:#f44336!important}
.YH-border-sand,.YH-hover-border-sand:hover{border-color:#fdf5e6!important}
.YH-border-teal,.YH-hover-border-teal:hover{border-color:#009688!important}
.YH-border-yellow,.YH-hover-border-yellow:hover{border-color:#ffeb3b!important}
.YH-border-white,.YH-hover-border-white:hover{border-color:#fff!important}
.YH-border-black,.YH-hover-border-black:hover{border-color:#000!important}
.YH-border-grey,.YH-hover-border-grey:hover,.YH-border-gray,.YH-hover-border-gray:hover{border-color:#9e9e9e!important}
.YH-border-light-grey,.YH-hover-border-light-grey:hover,.YH-border-light-gray,.YH-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.YH-border-dark-grey,.YH-hover-border-dark-grey:hover,.YH-border-dark-gray,.YH-hover-border-dark-gray:hover{border-color:#616161!important}
.YH-border-pale-red,.YH-hover-border-pale-red:hover{border-color:#ffe7e7!important}.YH-border-pale-green,.YH-hover-border-pale-green:hover{border-color:#e7ffe7!important}
>>>>>>> dbc3fa0ef5a627f404fa929bfbb49b5d6c3eb15b

/****************************/

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("img/8a9909d7-5e9c-41c7-926e-05ea361a7467.png");
  min-height: 100%;
  filter: grayscale(10%)
}

.YH-img-pla {
  width: 300px
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
nav {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}

i {
  font-size: 1.3rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

.cover {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 20px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.flex-form input[type="submit"] {

  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}



.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form>* {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

#madeby {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}

@media all and (max-width:800px) {
  body {
    font-size: 0.9rem;
  }

  .flex-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  .flex-form>* {
    font-size: 0.9rem;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }

  #madeby {
    padding: 30px 20px;
  }
}

@media all and (max-width:360px) {
  header nav li {
    margin: 0 10px;
  }

  .flex-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  label {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {

  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}

/***end body****/
<<<<<<< HEAD
.YH-img-spc {
  width: 250px;
  height: 250px;
  border-radius: 350px;
=======
.YH-img-spc{
    width: 250px;
    height: 250px;
    border-radius: 350px;
>>>>>>> dbc3fa0ef5a627f404fa929bfbb49b5d6c3eb15b
}


@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}

ul,
nav {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}

i {
  font-size: 1.3rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn:hover {
  background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
  color: #fff;
}

.cover {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 20px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.flex-form input[type="submit"] {
  background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: linear-gradient(to left, #de48b5 0%, #0097ff 100%);
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form>* {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

#madeby {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}

@media all and (max-width:800px) {
  body {
    font-size: 0.9rem;
    background-size: 100%;
  }

  .flex-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  .flex-form>* {
    font-size: 0.9rem;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }

  #madeby {
    padding: 30px 20px;
  }
}

@media all and (max-width:360px) {
  header nav li {
    margin: 0 10px;
  }

  .flex-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  label {
    display: none;
  }
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

/**********/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.5;
}

.link-pln {
  color: #000;
}
<<<<<<< HEAD

.pln-centered-h1 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 48px;
}

.pln-centered-p {
  position: absolute;
  top: 62%;
  left: 32%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  text-align: left;
  max-width: 500px;


}

.pln-container {
  position: relative;
  text-align: center;
  color: white;
  text-align: left;
}

@media (max-width:991px) {
  .pln-centered-h1 {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: left;

  }

  .pln-centered-p {
    position: absolute;
    top: 90%;
    left: 34%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    text-align: left;

  }
}
=======
>>>>>>> dbc3fa0ef5a627f404fa929bfbb49b5d6c3eb15b
